@model List<Foosball.Models.StandingsViewModel> 

@{
	var standing = Model.Count > 0 ? Model[0] : null;
	var tableWidth = 40 + 64 + 160 + (standing != null ? standing.WeeklyPoints.Count * 60 : 0) + 55;
}


<table id="standingsTable" class="row-border compact stripe" cellspacing="0" width="@(tableWidth)px">
	<thead>
		<tr>
			<th>Pl.</th>
			<th></th>
			<th>Name</th>
			@for (int i = 1; i <= Model[0].WeeklyPoints.Count; i++)
			{
				<th>Week @i</th>
			}
			<th class="column-right">Wins</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var s in Model)
		{
			<tr>
				<td>@s.Rank</td>
				<td>
					@if (!string.IsNullOrEmpty(s.User.ImageUrl))
					{
						<img src="@(s.User.ImageUrl + (s.User.ImageUrl.Contains("gravatar") ? "?s=40" : ""))" />
					}
				</td>
				<td>
					@(s.User.FirstName + " " + s.User.LastName)
				</td>

				@for (var i = 0; i < s.WeeklyPoints.Count; i++)
				{
					<td class="column-right rank-@s.WeeklyPoints[i].Rank">@s.WeeklyPoints[i].Points</td>
				}
				<td>@s.WeeklyPoints.Sum(w => w.Points)</td>
			</tr>
		}
	</tbody>
</table>

<script type="text/javascript">
	$(document).ready(function () {
		$('#standingsTable').dataTable({
			paging: false,
			ordering: false,
			sorting: false,
			searching: false,
			info: false,
			order: [],
			columnDefs: [
				{ // place
					targets: 0,
					width: '1px',
					class: 'column-right'
				},
				{ // user image
					targets: 1,
					width: '1px'
				},
				{ // user name
					targets: 2,
					width: '100%'
				},
				{ // points
					targets: @((Model.Count > 0 ? Model[0].WeeklyPoints.Count : 0) + 3),
					width: '1px',
					class: 'column-right standing-points'
				}
			]
		});

		// change the container to fluid
		$('div.body-content').removeClass('container').addClass('container-fluid');
	});
</script>