@using Microsoft.AspNet.Identity
@using Foosball.Extensions;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>NFL Pool</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
	@*@Styles.Render("//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css")*@
	@RenderSection("Styles", required: false)

	<script type="text/javascript">
		var _rootDir = "@Url.Content("~/")";
	</script>

    @Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/datatables")
	@Scripts.Render("~/bundles/tooltipster")
	@*@Scripts.Render("//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js")*@

	<script type="text/javascript">
		// keepalive ping
		function keepalive() {
			$.ajax({
				url: _rootDir + 'account/keepalive',
				method: 'GET',
				complete: function (e) {
					console.log('keep alive');
					setTimeout(keepalive, 1000 * 60 * 4); // ping every 4 minutes
				}
			});
		}
		keepalive();
	</script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
					@if (User.IsInRole("User") || User.IsAdmin())
					{
						<li>@Html.ActionLink("My Picks", "Index", "Picks", new { area = "" }, null)</li>
						<li>@Html.ActionLink("All Picks", "All", "Picks", new { area = "" }, null)</li>
						<li>@Html.ActionLink("Standings", "Standings", "Picks", new { area = "" }, null)</li>
					}
					@if (User.IsAdmin())
					{
						<li role="presentation" class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Admin <span class="caret"></span></a>

							<ul class="dropdown-menu">
								<li>@Html.ActionLink("Master Picks", "Index", "Picks", new { area = "", isMaster = true }, null)</li>
								<li>@Html.ActionLink("No Picks", "NoPicks", "Picks", new { area = "" }, null) </li>
								<li>@Html.ActionLink("Schedules", "Index", "Schedules", new { area = "" }, null)</li>
								<li>@Html.ActionLink("Teams", "Index", "Teams", new { area = "" }, null)</li>
								<li>@Html.ActionLink("Accounts", "List", "Account", new { area = "" }, null)</li>
								<li>@Html.ActionLink("Announcement", "Announcement", "Admin", new { area = "" }, null)</li>
							</ul>
						</li>
					}

					@if (User.IsInRole("User") || User.IsAdmin())
					{
						<li role="presentation" class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Past Winners <span class="caret"></span></a>

							<ul class="dropdown-menu">
								@for (var i = 2015; i >= 1999; i--)
								{
									<li>
										<a target="_blank/" href="http://arashamini.com/NFL/@(i)Standing.htm">@i Standings</a>
									</li>
								}
							</ul>
						</li>
					}
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
